body{
    margin: 0;
    padding: 0;   
    background: linear-gradient(to bottom, rgb(70, 0, 128),rgb(221, 10, 240) );
    align-items: flex-start;
    height: 100vh;
    font-family: sans-serif;
    justify-content: center;

}
.login-box{
    margin-top:60px;
    text-align: center;
    background-color: rgba(0,0,0,0.4);
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 20px rbga(0, 0, 0, 0.5);
    width: 300px;
    color: white;
}
.login-box h2{
    margin: 0 0 20px;
}
.user-box input{
    background:transparent;
    border-radius:15px;
    color:white;
    margin-top: 10px;
    width:100%;
    height: 30px;
    border-bottom:1px solid #fff;
    font-size: 16px;
}
.user-box .bi{
    position: absolute;
    margin-left: 250px;
    padding: 18px;
}
.check{float:left;}
.forget{float: right;}

button.sumbit{
    background-color: #fff;
    width: 80px;
    margin-top: 30px;
    border-radius: 10%;
    height: 25px;
}
    
